################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dahl.Extensions/obj
/Dahl.Extensions/csproj.user
/Dahl.Extensions/csproj.vspscc
/.vs/VSWorkspaceState.json
/.vs/Dahl.Extensions/v15
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/Dahl.Extensions/Properties/PublishProfiles/AppProd1.pubxml.user
/Dahl.Extensions/Properties/PublishProfiles/AppProd1.pubxml
/Dahl.Extensions/Dahl.Extensions.csproj.vspscc
/Dahl.Extensions/Dahl.Extensions.csproj.user
/packages
/Dahl.Extensions.Tests/Dahl.Extensions.Tests.csproj.vspscc
/Dahl.Extensions.Tests/obj
/Dahl.Extensions/bin
/Dahl.Extensions.Tests/bin/Debug
/.vs/Dahl.Extensions/DesignTimeBuild
/.vs/Dahl.Extensions/v16/Server/sqlite3
/tests/Dahl.Extensions.Tests/bin/Debug
/tests/Dahl.Extensions.Tests/obj
/src/Dahl.Extensions/obj/Debug/netcoreapp2.2
